/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
.env
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
auth.json
/public/fonts/
/public/webfonts/
/public/js/all.*
/public/js/global.*
/public/js/spa.js
/public/css/all.*
/public/css/global.*
/public/mix-manifest.json
/public/img/
/public/images/
/public/report/
package-lock.json
composer.lock
.vscode
.vscode/launch.json
.DS_Store
.php_cs.cache
cypress-results.txt
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
README.md
